In [1]:
# lists :

In [2]:
a = [ 2 , 3,4, 53 ,45]
a

[2, 3, 4, 53, 45]

In [3]:
a[3]

53

In [4]:
b = [ 'hey',34,543.32]

In [5]:
b

['hey', 34, 543.32]

In [6]:
len(a)

5

In [7]:
a + b # concatinate :

[2, 3, 4, 53, 45, 'hey', 34, 543.32]

In [8]:
print(a)

[2, 3, 4, 53, 45]

In [10]:
a * 3 # gets mulitplied:

[2, 3, 4, 53, 45, 2, 3, 4, 53, 45, 2, 3, 4, 53, 45]

In [11]:
# membership:
2 in a

True

In [13]:
# iterable :
for x in b :
    print(x)

hey
34
543.32

In [14]:
# we can use backward -ve no to access it :
# -1,-2,-3

In [15]:
a[-2]

53

In [16]:
print(a)

[2, 3, 4, 53, 45]

In [18]:
# substring 
a[1:4] # last index is exclusive :

[3, 4, 53]

In [19]:
a[0:5:2] # takes a jump !

[2, 4, 45]

In [20]:
a[::-1] # this will reverse

[45, 53, 4, 3, 2]

In [21]:
a == a[::-1] # pallindrome !

False

In [23]:
#insert and update:
a.insert(1,'abhi')

In [24]:
a

[2, 'abhi', 3, 4, 53, 45]

In [25]:
a.append('ji')
print(a)

[2, 'abhi', 3, 4, 53, 45, 'ji']

In [26]:
a.pop()
a

[2, 'abhi', 3, 4, 53, 45]

In [27]:
a.pop(1)
a

[2, 3, 4, 53, 45]

In [28]:
# remove() --> removes 1st occurence of the argument !!!
s = ['hi','sup','boi','hi','up','no']
print(s)

['hi', 'sup', 'boi', 'hi', 'up', 'no']

In [29]:
s.remove('hi')

In [30]:
print(s)

['sup', 'boi', 'hi', 'up', 'no']

In [ ]:
#del : delets object !

In [33]:
del s[2]
s

['sup', 'boi', 'no']

In [34]:
del s # --> deleted !
print(s)

NameError: name 's' is not defined

In [36]:
# soring :
s = sorted(a)
print(s)
print(a)

[2, 3, 4, 45, 53]
[2, 3, 4, 53, 45]

In [38]:
d = [76,34,5,24,56,343,-4,-54]
d.sort() # sort ing place
print(d)

[-54, -4, 5, 24, 34, 56, 76, 343]

In [40]:
for i in reversed(d):
    print(i)

343
76
56
34
24
5
-4
-54

In [42]:
d.reverse()
print(d)
for i in reversed(d):
    print(i)

[-54, -4, 5, 24, 34, 56, 76, 343]
343
76
56
34
24
5
-4
-54

In [43]:
# tuples : we can mutate the list !

In [44]:
id(a)

139782024174080

In [48]:
# tuples are immutable :
q = (1,2,3,4,5,6,7)
print(q)
print(q[2])
q[2] = 54

(1, 2, 3, 4, 5, 6, 7)
3

TypeError: 'tuple' object does not support item assignment

In [49]:
def func(*arg): # returns tuples 
    print(arg)
func(3,54,6,556)

(3, 54, 6, 556)

In [51]:
#swap values of 2 variables :
a = 5 
b = 9
a = a + b
b = a - b
a = a - b # this wont work with string !
# unique method  to swap in tuple
e = 2,43,542
print(e)

(2, 43, 542)

In [52]:
j , l , m = e # unpacks the tuple !!

In [53]:
print(j , l , m)

2 43 542

In [55]:
e = 2,43
# so to swap:
a = 3 
b = 5
(a ,b ) = ( b , a) # to swap !

In [56]:
print(a ,b)

5 3

In [ ]:
#list to tuple

In [59]:
a = (2,3,4)
a = list(a)
print(a)

b = list(range(5))
print(b)

s = list('abhishek')
print(s)

[2, 3, 4]
[0, 1, 2, 3, 4]
['a', 'b', 'h', 'i', 's', 'h', 'e', 'k']

In [60]:
a = tuple(a)
print(a)

(2, 3, 4)

In [63]:
#returing multiple valuse:
def add_sub(a,b):
    return (a+b,a-b)

In [64]:
summ , diff = add_sub(5,2)
print(summ , diff)

7 3

In [65]:
# dictionary : key value pair !
a = [2,3,4,5,6,7]
a[3]

5

In [74]:
#dictonary are unordered !
a = {
    "name":'abhi',
    "marks":54,
    "sub":[2,4,32,43],
    "fr":{
        'abhi':"shek",
        'no': True
    },
    'is':False
}

In [75]:
a['fr']

{'abhi': 'shek', 'no': True}

In [73]:
# dic are iterable and returns the keys:
for key in a:
    print(key)

name
marks
sub
fr

In [78]:
#a.items( ) --> returns a tuple !
for item in a.items():
    print(item) # returns a tuple

('name', 'abhi')
('marks', 54)
('sub', [2, 4, 32, 43])
('fr', {'abhi': 'shek', 'no': True})
('is', False)

In [79]:
for key,value in a.items():
    print(key, ' -> ',value)

name  ->  abhi
marks  ->  54
sub  ->  [2, 4, 32, 43]
fr  ->  {'abhi': 'shek', 'no': True}
is  ->  False

In [85]:
print('   keys:   ')
for key in a.keys():
    print(key)
print('    values:   ')
for val in a.values():
    print(val)

   keys:
name
marks
sub
fr
is
    values:
abhi
54
[2, 4, 32, 43]
{'abhi': 'shek', 'no': True}
False

In [86]:
a.get('name') # if not presetnt returns none :

'abhi'

In [87]:
a['name']

'abhi'

In [88]:

a['name2'] # throws error

KeyError: 'name2'

In [89]:
a.get('anme')

In [90]:
a.clear()
print(a)

{}

In [91]:
stud = []
n = int(input())

2

In [93]:
for i in range(n):
    roll = int(input())
    name = (input())
    br = (input())
    stud.append({
        "roll-no":roll,
        "name":name,
        "branch":br
    })

2
abhi
shek
3
dhi
man

In [94]:
stud

[{'roll-no': 2, 'name': 'abhi', 'branch': 'shek'},
 {'roll-no': 3, 'name': 'dhi', 'branch': 'man'}]

In [ ]:
# keys in dictionary can we any immutabke DS:
#like : tuple
#but not a list as it is immutable

In [95]:
s ={
    (2,3):"abhi"
}
print(s[(2,3)])

abhi

In [96]:
s = {
    [3,4]:'no'
}

TypeError: unhashable type: 'list'

In [97]:
### SETS : unordered , not iterable ! , existace of values only !!
d = {
    2,3,54,25
}
type(d)

set

In [99]:
q = set()
q = {2,33,223,54}
print(q)

{33, 2, 54, 223}

In [102]:
# operations :
r = {43,-23,54,-532}
q.intersection(r)
l = set()
l = q.union(r)
print(l)

{33, 2, -23, 43, -532, 54, 223}

In [103]:
print(q - r)

{33, 2, 223}

In [104]:
# not indexable
for i in q:
    print(i)

33
2
54
223

In [105]:
q[2] # not indexable

TypeError: 'set' object is not subscriptable

In [106]:
e =[2,4,2,4,55,2,1]
list(set(e)) #check uniquness / unique values :

[1, 2, 4, 55]

In [ ]:
# comprihension method to cresate DS

In [109]:
a = []
for i in range(8):
    a.append(i**2)
print(a)

[0, 1, 4, 9, 16, 25, 36, 49]

In [ ]:
# list comprihension : ( we squeze the above likes :)

In [110]:
x = [ i**2 for i in range(9) ] # can have if , else , nested fors:

In [111]:
print(x)

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [112]:
s = [i**2 for i in range(9) if i % 2 == 0]
print(s)

[0, 4, 16, 36, 64]

In [113]:
#comprhend in dictionary:

In [114]:
z = {i:i**3 for i in  range(10) if i % 2 == 0}
print(z)

{0: 0, 2: 8, 4: 64, 6: 216, 8: 512}

In [115]:
# set comprihension: 
# no key value :
e = {i**3 for i in range(10) if i % 2 != 0}
print(e)

{1, 343, 729, 27, 125}

In [121]:
# tuple comprehension:
f = (i**3 for i in range(7))
print(f) # this is generator expression : and not tuple comprhension

<generator object <genexpr> at 0x7f2173a2d9e0>